# Ignore everything
*
# Don't ignore directories, so we can recurse into them
!*/
# Don't ignore .gitignore and .gitkeep files
# having .gitkeepdir means git will version the directory, but no contents (since we're ignoring them)
!.gitignore
!.gitkeepdir
